<div class="nested-fields">
    <%= f.label "材料・調味料" %>
    <%= f.text_field :name %>

    <%= f.label "分量" %>
    <%= f.text_field :quantity %>
    <%= link_to_remove_association "消去", f, :class => 'delete' %>
</div>

<script>
 let domingredient = document.querySelector('.nested-fields')
 let domingDelete = document.querySelector('.delete')
if(domingredient.childElementCount == 6){
  domingDelete.style.display ="none";
}
</script>