<div class="nested-fields">
  <div class="col-xs-4">
    <%= f.label "image" %>
    <%= f.attachment_field :image %>
  </div>

    <%= f.label "process" %>
    <%= f.text_area :process %>
    <%= link_to_remove_association "消去", f %>
</div>
