<div class="nested-fields row">
  <div class="col-xs-4">
    <%= attachment_image_tag @makes, :image,:fill, 100,100,fallback: "no_image.jpg", size:'100x100', id: "file-preview" %>
    <%= f.attachment_field :image, class: "btn btn-primary achment_field", id: "image_select" %>
  </div>

  <div class="col-xs-8">
    <%= f.label "process" %>
    <%= f.text_area :process, class: "recipe_input-mysize" %>
    <%= link_to_remove_association "消去", f %>
  </div>
</div>
