<h1>レシピ新規登録画面</h1>
<div class="row">
  <%= form_for(@recipe, url:recipes_path) do |f| %>
  <div class="col-xs-5">
    <% if @recipe.errors.any? %>
    <h3><%= @recipe.errors.count %>つ空白があります</h3><!--エラーメッセージ-->
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    <table class="table table-borderless">
    <div class="field">
      <%= f.label :main_image, "画像選択", class: "image_input_btn btn-primary" %>
      <%= f.attachment_field :main_image, class: "image_form" %>
    </div>
    <div class="field">
      <div class="recipe_status">
        <tr>
          <th>肉</th>
          <td><%= f.radio_button :is_meat_status, "false" %>未使用<%= f.radio_button :is_meat_status, "ture" %>使用</td>
        </tr>
      </div>
      <div class="recipe_status">
        <tr>
          <th>魚</th>
          <td><%= f.radio_button :is_fish_status, "false" %>未使用<%= f.radio_button :is_fish_status, "ture" %>使用</td>
        </tr>
      </div>
      <div class="recipe_status">
        <tr>
          <th>卵</th>
          <td><%= f.radio_button :is_egg_status, "false" %>未使用<%= f.radio_button :is_egg_status, "ture" %>使用</td>
        </tr>
      </div>
      <div class="recipe_status">
        <tr>
          <th>乳製品</th>
          <td><%= f.radio_button :is_dairy_products_status, "false" %>未使用<%= f.radio_button :is_dairy_products_status, "ture" %>使用</td>
        </tr>
      </div>
    </div>
  </table>
  </div>
  <div class="col-xs-7">
    <table class="table table-borderless">
    <div class="title">
      <tr>
        <th>レシピ名</th><td><%= f.text_field :title %></td>
      </tr>
    </div>
    <div class="description">
      <tr>
        <th>説明文</th><td><%= f.text_area :description %></td>
      </tr>
    </div>
    <div class="point">
      <tr>
        <th>ポイント</th><td><%= f.text_area :point %></td>
      </tr>
    </div>
    

    <%= form_with(model: @recipe, local: true) do |s| %>
    <div class="recipes">
        <%= s.fields_for :ingredients do |t| %>
            <%= render "ingredients_fields", f: t %>
        <% end %>
        <div class="links">
            <%= link_to_add_association "子供を追加", s, :ingredients %>
        </div>
    </div>
    <div class="actions">
        <%= s.submit %>
    </div>
<% end %>


  </table>
  </div>
  <div class="row">
    <div class="col-xs-8 flex">
      <div class="make_set">
        <%= f.label :image, "画像選択", class: "image_input_btn btn-primary" %>
        <%= f.attachment_field :image, class: "image_form" %>
        <th>作り方</th><td><%= f.text_area :make_text %></td>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary btn-lg pull-right">新規登録</button>
  </div>
  <% end %>
</div>

