<div class="row recipe_new">
  <h1>レシピ新規登録画面</h1>
  <%= form_for(@recipe, url:recipes_path) do |f| %>
  
  <% if @recipe.errors.any? %>
  <h3><%= @recipe.errors.count %>つ空白があります</h3><!--エラーメッセージ-->
  <ul>
    <% @recipe.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="row">
    <div class="col-xs-5">
      <div class="field">
        <h3>完成画像</h3>
        <%= attachment_image_tag @recipe, :main_image,:fill, 300,200,fallback: "no_image.jpg", size:'300x200', id: "main_file_preview" %>
        <%= f.attachment_field :main_image, class: "btn btn-primary image_form achment_field recipe_btn", id: "main_image_select" %>
      </div>
    </div>

    <div class="col-xs-7">
      <table class="table table-borderless">
        <div class="title">
          <tr>
            <th>レシピ名</th><td><%= f.text_field :title, class: "recipe_input-mysize" %></td>
          </tr>
        </div>
        <div class="description">
          <tr>
            <th>説明</th><td><%= f.text_area :description, class: "recipe_input-mysize" %></td>
          </tr>
        </div>
        <div class="point">
          <tr>
            <th>ポイント</th><td><%= f.text_area :point, class: "recipe_input-mysize" %></td>
          </tr>
        </div>
        <div class="number_of_people">
          <tr>
            <th>何人分 (例：2人分)</th><td><%= f.text_field :number_of_people, class: "recipe_input-mysize" %></td>
          </tr>
        </div>
      </table>
    </div>
  </div>

  <div class="row recipe_field">
    <div class="col-xs-5">
      <table class="table table-borderless">

        <div class="field">
          <div class="recipe_status">
            <tr>
              <th>肉</th>
              <td><%= f.radio_button :is_meat_status, "false" %>未使用<%= f.radio_button :is_meat_status, "ture" %>使用</td>
            </tr>
          </div>
          <div class="recipe_status">
            <tr>
              <th>魚</th>
              <td><%= f.radio_button :is_fish_status, "false" %>未使用<%= f.radio_button :is_fish_status, "ture" %>使用</td>
            </tr>
          </div>
          <div class="recipe_status">
            <tr>
              <th>卵</th>
              <td><%= f.radio_button :is_egg_status, "false" %>未使用<%= f.radio_button :is_egg_status, "ture" %>使用</td>
            </tr>
          </div>
          <div class="recipe_status">
            <tr>
              <th>乳製品</th>
              <td><%= f.radio_button :is_dairy_products_status, "false" %>未使用<%= f.radio_button :is_dairy_products_status, "ture" %>使用</td>
            </tr>
          </div>
        </div>
      </table>
    </div>

    <div class="col-xs-7">
      <div class="recipes">
        <%= f.fields_for :ingredients do |ingredient_fields| %>
        <%= render "ingredient_fields", f: ingredient_fields %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "追加", f, :ingredients %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">


      <div class="recipes">
        <%= f.fields_for :makes do |make_fields| %>
          <%= render "make_fields", f: make_fields %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "追加", f, :makes %>
        </div>
      </div>


    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary btn-lg pull-right">新規登録</button>
  </div>
  <% end %>
</div>


<!-- 画像選択した際に、選択した画像を表示させるjavascript -->
<script>
  document.getElementById('main_image_select').addEventListener('change', function (e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    var img = document.getElementById('main_file_preview');
    img.src = blobUrl;
  });

  $(document).on('change', '.image_select', function (e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    $(this).parent('div').find('.file_preview').attr("src", blobUrl);
  });
</script>


