<div class="row">
  <div class="col-xs-10">
    <h1>レシピ詳細画面</h1>
  </div>

  <div class="col-xs-2 like_show_btn" id="show_like_<%= @recipe.id %>">
    <%= render 'likes/like', recipe: @recipe %>
  </div>
</div>

<div class="row">
<% @page_recipes.each do |recipe| %>
  <div class="col-xs-12">

    <div class="recipe_show">
      <div class="recipe_show_margin">
        <h2>
          <%= recipe.title %>
          <span class="post_user">
            <p>
              投稿者：<%= link_to recipe.user.nickname, user_path(recipe.user.id)%>


              <% if recipe.user == current_user %>
              <%= link_to "編集", edit_recipe_path(recipe),class: "btn btn-sm" %>
              <%= link_to "消去", recipe_path(recipe), method: :delete, data: {confirm: "本当に消しますか?"}, class: "btn btn-sm" %>
              <% end %>
            </p>
          </span>
        </h2>
      </div>
      <div class="row recipe_show_margin">
        <p>
          投稿時間：<%= recipe.created_at.to_s(:datetime_jp) %>
        </p>
        <div class="col-xs-5 recipe_show_image">
          <div>
          <%= attachment_image_tag recipe, :main_image, :fill, 300,200,format: "jpeg" , fallback: "no_image.jpg", size:'300x200' %>
        </div>
        <div>
          <h3>ポイント・コツ</h3>
          <%= recipe.point %>
        </div>
        </div>
        <div class="col-xs-7">
          <h3>料理説明</h3>
          <%= recipe.description %>

          <h3>レシピ材料</h3>
          <table class="table ingredient_table">
            <% @ingredients.each do |ingredient| %>
            <tbody>
              <tr>
                <td><%= ingredient.name %></td>
                <td><%= ingredient.quantity %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <div class="row recipe_show_margin">
        <h3>レシピ手順</h3>
        <table class="table make_table">
          <% @makes.each.with_index(1) do |make, idx| %>
          <tbody>
            <tr>
              <td><%= idx %></td>
              <td class="col-xs-2" align="center"><%= attachment_image_tag make, :image, format: "jpeg" , fallback: "no_image.jpg", id: "image", size:'100x100' %></td>
              <td class="col-xs-10"><%= make.process %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>

    <div class="comment_show">
      <div class="recipe_comment_margin">
        <ul>
          <li class="comment-create">
            <h3 class="text-left title">コメント</h3>
          </li>
          <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
          </li>
        </ul>
        <hr>
        <div class="comment-create">
          <% if user_signed_in? %>
          <h3 class="text-left">コメントを投稿する</h3>
          <%= render partial: 'comments/form', locals: { comment: @comment, recipe: recipe } %>
          <% else %>
          <div class="not_login" align="center">
            <%= link_to '会員ログイン', new_user_session_path %>　をするとコメントができるようになります。
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="report_show">
      <div class="recipe_report_margin">
        <ul>
          <li class="report-create">
            <h3 class="text-left title">レポート</h3>
          </li>
          <li id="reports_area">
            <%= render partial: 'reports/index', locals: { reports: @reports } %>
          </li>
        </ul>
        <hr>
        <div class="report-create">
          <% if user_signed_in? %>
          <h3 class="text-left">レポートを投稿する</h3>
          <div id="report_form">
          <%= render partial: 'reports/form', locals: { report: @report, recipe: recipe } %>
          </div>
          <% else %>
          <div class="not_login" align="center">
            <%= link_to '会員ログイン', new_user_session_path %>　をするとレポートを投稿できるようになります。
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>
