<% if @report.errors.any? %>
<ul>
  <% @report.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<!-- コメント内容(２件) ------------------------------------------------------------------>
<%= reports.count %>件コメント
<h6 class="more" data-toggle="collapse" data-target="#report_collapseExample" aria-expanded="false" aria-controls="report_collapseExample2">もっと見る....</h6>
<ul>
  <% reports.first(2).each do |report| %>
  <% unless report.id.nil? %>
  <li class="report-container">
    <div class="report-box">
      <div class="row">
        <div class="report-avatar col-xs-1">
          <%= attachment_image_tag report.user, :profile_image, :fill, 40,40, fallback: "no_image.jpg", class:"report-image small_image_size" %>
        </div>
        <p><%= link_to "@#{report.user.nickname}", user_path(report.user.id) %></p>
      </div>
      <div class="report-text">
        <div class="row">
          <div class="report_image col-xs-2">
            <%= attachment_image_tag report, :image, :fill, 100,100, fallback: "no_image.jpg", class:"report-image report_image_size" %>
          </div>
          <%= report.content %>
        </div>
        <div class="report-entry">
          <div class="row">
            <% if report.user == current_user %>
            <%= link_to recipe_report_path(report.recipe_id, report.id), method: :delete, remote: true, class: "report_destroy" do %>
            <i class="fas fa-trash pull-right" style="color: red;"></i>
            <% end %>
            <% end %>
          </div>
        </div>
        <span class="report-date pull-right">
          <%= report.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </span>
      </div>
    </div>
  </li>
  <% end %>
  <% end %>
</ul>
<!-- コメント内容(3件目以降) ------------------------------------------------------------------>
<div class="collapse" id="report_collapseExample">
  <ul>
    <% reports.offset(2).each do |report| %>
    <% unless report.id.nil? %>
    <li class="report-container">
      <div class="report-box">
        <div class="row">
          <div class="report-avatar col-xs-1">
            <%= attachment_image_tag report.user, :profile_image, :fill, 40,40, fallback: "no_image.jpg", class:"report-image small_image_size" %>
          </div>
          <p><%= link_to "@#{report.user.nickname}", user_path(report.user.id) %></p>
        </div>
        <div class="report-text">
          <div class="row">
            <div class="report_image col-xs-2">
              <%= attachment_image_tag report, :image, :fill, 100,100, fallback: "no_image.jpg", class:"report-image report_image_size" %>
            </div>
            <%= report.content %>
          </div>
          <div class="report-entry">
            <div class="row">
              <% if report.user == current_user %>
              <%= link_to recipe_report_path(report.recipe_id, report.id), method: :delete, remote: true, class: "report_destroy" do %>
              <i class="fas fa-trash pull-right" style="color: red;"></i>
              <% end %>
              <% end %>
            </div>
          </div>
          <span class="report-date pull-right">
            <%= report.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </span>
        </div>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>